/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.body{
    background-color: #dddddd;
}
.wrap{
    width: 1200px;
    height: 700px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
}
.pink{
    float:left;
    width: 1200px;
    height: 700px;
    background: #ffedf7;
    position: relative;
    left: 0px;
    top: 0px; 
    z-index: 1;
}
.blue{
    float:left;
    width: 400px;
    height: 700px;
    background: #003162;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}
.clockCircle {
    width: 500px;
    height: 400px;
    background: url(img/clock.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 50.6%;
    top: 15%;
    z-index: 3;
}
.pink-inner{
    width: 500px;
    height: 550px;
    position: absolute;
    left: 15%;
    top:5%;
}
.blue-inner{
    width: 50px;
    height: 700px;
    position: absolute;
    right: 100px;
    bottom:0;
    z-index: 3;
}
.rightBannerIcon{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.one{
    background: url(img/icon1.png) no-repeat;
    background-size: contain;
}
.two{
    background: url(img/icon2.png) no-repeat;
    background-size: contain;
}
.three{
    background:url(img/icon3.png) no-repeat;
    background-size: contain;
}
.rightBannerText{
    width: 30px;
    height: 100px;
    background: url(img/text.png) no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    margin-left: 10px;
}
.btn1Div{
    width: 500px;
    height: 150px;
}
.text1{
    width:350px;
    height: 40px;
    float: left;
    border: none;
    padding:0;
    font-size: 20px;
}
.btn1{
    width: 30px;
    height: 40px;
    background: white;
    float:left;
    color: #ff4382;
    text-align: center;
    line-height: 40px;
}
.ul1Div{
    width: 500px;
    height: 150px;
    margin-top:50px;
}
.clock{
    width: 500px;
    height: 200px;
}
.ul2Div{
    width: 500px;
    height: 150px;
    margin-top:50px;
}
.toDoListBlue{
    width: 1200px;
    height: 700px;
    background: #003162;
}