/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.body{
    background-color: #dddddd;
}
.wrap{
    width: 1200px;
    height: 700px;
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
}
.pink{
    float:left;
    width: 1200px;
    height: 700px;
    background: #ffedf7;
    position: relative;
    left: 0px;
    top: 0px; 
    z-index: 1;
}
.blue{
    float:left;
    width: 400px;
    height: 700px;
    background: #003162;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
}
.clockCircle {
    width: 400px;
    height: 400px;
    background: url(img/clock.png) no-repeat;
    background-size: contain;
    position: absolute;
    left: 50.6%;
    top: 15%;
    z-index: 3;
}
.pink-inner{
    width: 500px;
    height: 550px;
    position: absolute;
    left: 15%;
    top:5%;
}
.blue-inner{
    width: 50px;
    height: 700px;
    position: absolute;
    right: 100px;
    bottom:0;
    z-index: 3;
}
.rightIcon{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.blue-inner .one{
    background: url(img/icon1.png) no-repeat;
    background-size: contain;
}

.blue-inner .two{
    background: url(img/icon2.png) no-repeat;
    background-size: contain;
}
.blue-inner .three{
    background: url(img/icon3.png) no-repeat;
    background-size: contain;
}
.blue-inner .toDoListHtml{
    background: url(img/icon5.png) no-repeat;
    background-size: 80% 80%;
}
.blue-inner .rightText{
    width: 30px;
    height: 100px;
    background: url(img/text.png) no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    margin-left: 10px;
}
.blue-inner a{
    display: block;
    width: 50px;
    height: 50px;
}
.text1{
    width:350px;
    height: 40px;
    float: left;
    border: none;
    padding-left: 15px;
    font-size: 20px;
    box-sizing: border-box;
}
.btn1{
    width: 30px;
    height: 40px;
    background: white;
    float:left;
    color: #ff4382;
    text-align: center;
    line-height: 40px;
}
.ul1Div{
    width: 500px;
    height: 40px;
    margin-top:120px;
}
.clock{
    width: 500px;
    height: 200px;
}
.ul2Div{
    width: 500px;
    height: 150px;
    margin-top:50px;
}

.ul2Div li{
    width: 500px;
    height: 20px;
    margin-bottom: 10px;
    list-style-type: circle;
}
.ul2Div h2{
    width: 200px;
    height: 20px;
    float: left;
}
.ul2Div li img{
    width: 25px;
    height: 20px;
    float: left;
}
.toDoListBlue{
    width: 1200px;
    height: 700px;
    background: #003162;
}
.leftMenu{
    width: 250px;
    height: 400px;
    position: absolute;
    left: 10%;
    top: 10%;
}
.leftMenuIcon{
    width: 250px;
    height: 50px;
    margin-bottom: 35px; 
}
.leftMenuIcon img{
    width: 50px;
    height: 50px;
    display: block;
    float: left;
}
.leftMenuIcon p{
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    float: left;
    color: yellow;
    margin-left: 15px;
}
.center{
    width: 400px;
    height: 700px;
    position: absolute;
    left: 40%;
    top: 0;
}
.text{
    width: 400px;
    height: 40px;
    margin-top: 80px;
}
.text.text1{
    width:350px;
    height: 40px;
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
}
.text .btn{
    width: 30px;
    height: 40px;
    color: #ff4382;
    float: left;
    text-align: center;
    line-height: 40px;
    background: white;
}
.content .banner{
    width:350px;
    height: 40px;
    background: #335a82;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 40px;
    font-size: 25px;
    color: white;
    float: left;
}
.content .button{
    width: 30px;
    height: 40px;
    background: url(img/icon4.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-top: 20px;
}
.clearfix{
    clear: both;
}
.content ul{
    width: 400px;
    height: 200px;
    font-size: 25px;
    box-sizing: border-box;
    margin-top: 15px;
    padding-left: 30px;
    list-style-type: circle;
}
.content ul li{
    width: 400px;
    height: 20px;
    margin-bottom: 10px;
    color: pink;
}
.content li h2{
    width: 200px;
    height: 20px;
    float: left;
}
.content li img{
    width: 25px;
    height: 20px;
    float: left;
}
.center .newbanner{
    width:400px;
    height: 40px;
    background: #335a82;
    box-sizing: border-box;
    padding-left: 10px;
    line-height: 40px;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}
.center .one{
    margin-top: 80px;
}